
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    #images > a:nth-child(n + 2)
    {
        display: none;
    }

    :root {
        --site-width: 90%;
    }

    section
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* Small devices 768px and down) */
@media only screen and (width <  768px) 
{
    header > div > nav
    {
        display: none;
    }

    div.intro
    {
        flex-direction: column;
    }

    div.intro > div.image
    {
        order: 2;
        min-height: 450px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;   
    }
    
    div.intro > div:nth-child(2)
    {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .parallax p
    {
        font-size: 1.3em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    .parallax p
    {
        font-size: 1.6em;
        line-height: 1.1em;
    }

    section
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (width >= 768px) 
{
    .dropdown, #dropdown
    {
        display: none;
    }

    section
    {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    .parallax p
    {
        font-size: 1.7em;
    }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (width < 992px) 
{
    #images > a:nth-child(n + 3)
    {
        display: none;
    }

    :root {
        --site-width: 80%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    .parallax p
    {
        font-size: 1.9em;
        line-height: 1.15em;
    }

    p
    {
        font-size: 1.05em;
        line-height: 26px;
    }
}

@media only screen and (width < 1200px) 
{
    #images > a:nth-child(n + 4)
    {
        display: none;
    }
}


/* A rule dedicated to really small screens to fix about image */
/* Small devices 768px and down) */
@media only screen and (width <  450px) 
{
    div.intro > div.image
    {
        min-height: 300px;
    }

    p
    {
        font-size: 0.95em;
    }
}