:root {
  --primary-color: #C0B7AE;
  --heading-color: #383533;
  --light-gray: rgb(243, 243, 243);
  --site-width: 70%;
  --nav-active-color: rgb(161, 151, 135);
  --nav-hover-color: rgb(241, 225, 199);
  --nav-height: 60px;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

main, footer {
  display: flex;
  flex-direction: column;
  align-items: center ;
}
 
section
{
  width: var(--site-width);
}

section
{
  padding-top: 25px;
  padding-bottom: 25px;
}

.centered-txt
{
  text-align: center;
}

.heading-font
{
  font-family: 'Gentium', serif;
}

@font-face {
  font-family: 'Gentium';
  src: url('../fonts/Gentium_Plus/GentiumPlus-Regular.ttf');
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url('../fonts/Material/material.woff2') format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.heading
{
  margin-bottom: 25px;
}

/* The logo */
header a img
{
   height: var(--nav-height);
}

/* Gallery */
#gallery
{
  width: 100vw;
  background-color: var(--light-gray);
}

#images
{
  display: flex;
  margin: 30px 30px 30px 30px ;
  justify-content: center;
  align-items: center;
}

#images a
{
  margin-left: 10px;
  flex-grow: 1;
  width: 0px;
}

#images > a > img
{
  width: 100%;
}

#modal-view {
  position: absolute;
  top: var(--nav-height);
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-view img {
  /* max-height: 100%;
  max-width: 100%; */
  max-width: 80%;
  height: auto;
}

#modal-view.hidden
{
  display: none;
}

.no-scroll {
  overflow: hidden;
}

/* Image animation */
.animate-prev {
  animation: slide-from-left 0.5s;
}

@keyframes slide-from-left {
  from {
    margin-left: -30%;
  }
  to {
    margin-left: 0;
  }
}

.animate-next {
  animation: slide-from-right 0.5s;
}

@keyframes slide-from-right {
  from {
    margin-left: 30%;
  }
  to {
    margin-left: 0;
  }
}


/* Main menu */
 header{
  display: flex;
  flex-direction: column;
  height: var(--nav-height);

  z-index: 10000;
  position: fixed;
  width: 100vw;
  top: 0px;
  background-color: var(--primary-color);
}

header > div > img
{
  height: var(--nav-height);
}

header > div
{
  display: flex;

  justify-content: space-around;
  align-items: center;
}

nav > a {
  font-family: 'Gentium', Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  /* font-style: italic; */
  color: white;
  margin-left: 12px;
}

nav > a:hover {
  color: var(--nav-hover-color);
}

nav > a.active
{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  border-radius: 6px;
  background-color: var(--nav-active-color);
}

/* Drop down menu */
.dropdown
{
  /* position: fixed; */
  top: var(--nav-height);
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary-color);
}

.dropdown a 
{
  color: white;
  font-family: 'Gentium', serif;
  height: 30px;
  width: 100%;
  border-bottom: 1px dotted;
  text-align: center;
}

@media (prefers-reduced-motion: reduce) {


  *, *:before, *:after {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
     
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
     
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    }

    html
    {
      scroll-behavior: auto;
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
    }
}

/* Parallax effect */
.parallax {
  background-image: url("../images/nature.jpg");

  width: 100%;
  min-height: 500px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.parallax p
{
  width: var(--site-width);
  color: white;
  font-family: 'Gentium';;
}

/* Intro picture */
div.intro
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} 

div.intro > div.image
{
  min-height: 200px;
  min-width: 170px;
  width: 100%;
  background-image: url('../images/portrait.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex:1;
}

div.intro > div
{
  /* margin-top: 20px; */
  margin-left: 35px;
  margin-right: 15px;
  flex: 5;
}

#about
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-gray);
  width: 100vw;
  /* padding-top: 60px;
  padding-bottom: 40px; */
}

#about > *
{
  width: var(--site-width);
}

#article
{
  padding-top: 100px;
}


/* Footer section */  

.row
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: flex-start; */
}
.contact-info
{
  margin-top: 30px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* Publications */
#footer ul li a
{
  font-size: 1.2em;
  text-decoration: underline;
}

#footer ul
{
  padding-top: 15px;
  padding-bottom: 70px;
}

/* Common styles */
.cta-text
{
  margin-left: 15px;
}

.contact-info span.material-symbols-outlined
{
  font-size: 2em;
}

/* @keyframes fadein-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */


.bold
{
  font-weight: bold;
}

.colored-text
{
  color: var(--primary-color);
}

.white-text
{
  color: white;
}

.pointer {cursor: pointer;}

#dropdown {cursor: pointer;}

.hidden
{
  display: none;
}

.quote
{
  color: var(--heading-color);
  font-size: 1.2em;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

#article > p 
{
  margin-bottom: 10px;
}