:root {
  --primary-color: rgb(228, 143, 7);
  --site-width: 75%;
  --light-gray: rgb(243, 243, 243);
  --nav-active-color: rgb(204, 127, 4);
  --nav-hover-color: rgb(241, 225, 199);
  --darker-gray: gainsboro;
}

body {
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center ;
}

section
{
  width: var(--site-width);
}

@font-face {
  font-family: 'Gentium';
  src: url('../fonts/Gentium_Plus/GentiumPlus-Regular.ttf');
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish_PT_Sans/Mulish/Mulish-Italic-VariableFont_wght.ttf');
}


.heading
{
  font-family: 'Gentium', serif;
  text-align: center;
  color: var(--primary-color);
  font-size: 2.1em;
  margin-top: 60px;
}

/* The logo */
header a img
{
   height: 50px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  height: 50px;
}

/* Gallery */

#gallery
{
  width: 100vw;
  background-color: var(--light-gray);
}

#images
{
  display: flex;
}

#images img
{
  height: 250px;
}

#modal-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-view img {
  /* max-height: 100%;
  max-width: 100%; */
  width: 500px;
  height: 300px;
}

#modal-view.hidden
{
  display: none;
}

.no-scroll {
  overflow: hidden;
}


/* Main menu */
 header{
  z-index: 10000;
  position: fixed;
  width: 100vw;
  top: 0px;
  background-color: var(--primary-color);
} 

nav > a {
  font-family: 'Gentium', Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  /* font-style: italic; */
  color: white;
  margin-left: 12px;
}

nav > a:hover {
  color: var(--nav-hover-color);
}

nav > a.active
{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  border-radius: 6px;
  background-color: var(--nav-active-color);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Intro pic */
div.intro
{
  display: flex;
}

/* Problems */
.panel
{
  border: 1px solid var(--darker-gray);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

#about
{
  background-color: var(--light-gray);
}

.panel-body
{
  border: 1px solid var(--darker-gray);
  background-color: white;
}

.panel-body img
{
  width: 400px;
  height: auto;
  float: left;
  padding-right: 7px;
  padding-bottom: 2px;
  box-sizing: border-box;
}

.bold
{
  font-weight: bold;
}